body {
  font-family: 'Poppins', sans-serif;
  background: #1a001f;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.centro-pantalla {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carta {
  background: white;
  color: #3b0052;
  padding: 50px;
  border-radius: 25px;
  max-width: 700px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.8s ease;
}

.carta.abrir-carta {
  opacity: 1;
  transform: scaleY(1);
}

.nombre-brillo {
  color: #b14cff;
  font-weight: 600;
  text-shadow: 0 0 8px #d580ff;
  animation: latido 2.5s infinite;
}

@keyframes latido {
  0%,100% { text-shadow: 0 0 8px #d580ff; }
  50% { text-shadow: 0 0 20px #ff9dfc; }
}

.contador-box {
  margin-top: 40px;
  font-size: 1.1rem;
  text-align: center;
}

.final-romantico {
  margin-top: 40px;
  text-align: center;
}

.oculto { display: none; }

.boton-final {
  background: #7c00ff;
  border: none;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.heart-float {
  position: absolute;
  top: -50px;
  animation: fall linear infinite;
}

@keyframes fall {
  to { transform: translateY(110vh); }
}
